version: "3.8"

services:
  pgvector:
    image: pgvector/pgvector:pg18-trixie
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=yume
    volumes:
      - pg-data:/var/lib/postgresql
  #chroma:
  #  image: "ghcr.io/chroma-core/chroma:1.1.1"
  #  ports:
  #    - "8000:8000"
  #  volumes:
  #    - chroma-data:/data
  #chroma-admin:
  #  image: fengzhichao/chromadb-admin
  #  ports:
  #    - "3001:3001"
  #grafana:
  #  image: "grafana/grafana:latest"
  #  ports:
  #    - "3000:3000"
  #  environment:
  #    - GF_SECURITY_ADMIN_PASSWORD=admin
  #  volumes:
  #    - grafana-storage:/var/lib/grafana
  #tempo:
  #  image: "grafana/tempo:latest"
  #  ports:
  #    - "3200:3200"
  #    - "4317:4317"  # OTLP gRPC receiver
  #    - "4318:4318"  # OTLP HTTP receiver
  #  command:
  #    - "-config.file=/etc/tempo/tempo.yaml"
  #  user: "root"
  #  volumes:
  #    - tempo-storage:/var/lib/tempo
  #    - ./tempo.yaml:/etc/tempo/tempo.yaml

volumes:
  pg-data:
  #chroma-data:
  #grafana-storage:
  #tempo-storage:
